@model FootballNews.WebApp.Areas.Admin.ViewModels.Game.GameModel
@{
    ViewData["Title"] = "Add game";
    Layout = "_Layout";
}
<div class="container shadow">
    <div class="d-flex justify-content-between align-items-center my-3 card-header bg-deep-green text-white">
        <header class="">
            <h2>Dodaj Spotkanie</h2>
        </header>
    </div>
    <form asp-area="Admin" asp-controller="Games" asp-action="Create" class="container border rounded box-shadow p-3" method="post">
        <h2 class="text-center">Mecz</h2>

        <div class="d-flex justify-content-between">
            <div class="justify-content-center">
                <div class="form-group">
                    <label asp-for="SelectedHomeTeam"></label>
                    <select asp-for="SelectedHomeTeam" id="homeTeamSelect" asp-items="@Model.Teams" class="selectpicker form-control" data-live-search="true">
                        <option selected="selected" disabled="disabled" value="-1">Wybierz drużynę...</option>
                    </select>
                    <span asp-validation-for="SelectedHomeTeam" class="text-danger"></span>
                </div>
                <div class="form-inline my-1 d-flex flex-column" id="homeTeamGoalsWrapper"></div>
                <button type="button" class="btn btn-primary" id="homeTeamGoalsBtn" disabled="disabled">Dodaj gola</button>
            </div>
            <div class="justify-content-center">
                <div class="form-group">
                    <label asp-for="SelectedAwayTeam"></label>
                    <select asp-for="SelectedAwayTeam" id="awayTeamSelect" asp-items="@Model.Teams" class="selectpicker form-control" data-live-search="true">
                        <option selected="selected" disabled="disabled" value="-1">Wybierz drużynę...</option>
                    </select>
                    <span asp-validation-for="SelectedAwayTeam" class="text-danger"></span>
                </div>
                <div class="form-inline my-1 d-flex flex-column" id="awayTeamGoalsWrapper"></div>
                <button type="button" class="btn btn-primary" id="awayTeamGoalsBtn" disabled="disabled">Dodaj gola</button>
            </div>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Report">Opis przebiegu spotkania</label>
            <textarea asp-for="Report" class="summernote"></textarea>
            <span asp-validation-for="Report" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Date">Data spotkania</label>
            <input type="datetime-local" class="form-control-sm" asp-for="Date"/>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" asp-for="HasBeenPlayed"/>
                <label class="custom-control-label" asp-for="HasBeenPlayed"> Czy mecz się zakończył?</label>
            </div>
            <span asp-validation-for="HasBeenPlayed" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-end p-2">
            <button type="submit" class="btn btn-outline-success">Dodaj</button>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_SelectPickerScriptPartial"/>
    <script>
    const homeGoalFormPart = 
    `<div class="form-inline my-1" data-id="homeTeamGoals">
        <select name="HomeTeamGoals[ValueToReplace].Shooter" id="HomeTeamGoals_ValueToReplace__Shooter" class=" form-control mr-1" data-live-search="true">
            <option selected="selected" disabled="disabled">Select player...</option>
        </select>
        <input name="HomeTeamGoals[ValueToReplace].Time" id="HomeTeamGoals_ValueToReplace__Time" type="number" class="form-control-sm" placeholder="minuty i sekundy"/>
        <button class="btn btn-sm btn-outline-danger ml-1 removeHomeGoal"><i class="fas fa-minus-circle"></i></button>
    </div>
    `;
    
        const awayGoalFormPart = 
        `<div class="form-inline my-1" data-id="awayTeamGoals">
            <select name="AwayTeamGoals[ValueToReplace].Shooter" id="AwayTeamGoals_ValueToReplace__Shooter" class=" form-control mr-1" data-live-search="true">
                <option selected="selected" disabled="disabled">Select player...</option>
            </select>
            <input name="AwayTeamGoals[ValueToReplace].Time" id="AwayTeamGoals_ValueToReplace__Time" type="number" class="form-control-sm" placeholder="minuty i sekundy"/>
            <button class="btn btn-sm btn-outline-danger ml-1 removeAwayGoal"><i class="fas fa-minus-circle"></i></button>
        </div>
        `;
    
    
document.addEventListener( 'DOMContentLoaded',  async function (){
        const homeTeamSelectElement = $('#homeTeamSelect');
        const addHomeTeamGoalBtn = $('#homeTeamGoalsBtn');
        let numberOfHomeGoals = 0;
        let homeTeamPlayers;
        const awayTeamSelectElement = $('#awayTeamSelect');
        const addAwayTeamGoalBtn = $('#awayTeamGoalsBtn');
        let numberOfAwayGoals = 0;
        let awayTeamPlayers;
        
        addHomeTeamGoalBtn.on("click",function(){
            const regex = /ValueToReplace/gi;
            let replacedFormPart = homeGoalFormPart.replace(regex, numberOfHomeGoals.toString());
            replacedFormPart = $(replacedFormPart);
            let select = replacedFormPart.find('select');
            $.each(homeTeamPlayers, function(index, item) {
                  select.append(new Option(`${item.FirstName} ${item.LastName}`, item.Id));
            });
            $('#homeTeamGoalsWrapper').append(replacedFormPart);
            numberOfHomeGoals++;                    
        });
        
        homeTeamSelectElement.on('changed.bs.select', async function (e, clickedIndex, isSelected, previousValue){
            $('#homeTeamGoalsWrapper').empty();
            addHomeTeamGoalBtn.removeAttr('disabled');
            const players = await getPlayers(e.target.value);
            homeTeamPlayers = JSON.parse(players);
        });
        
        $('#homeTeamGoalsWrapper').on("click", ".removeHomeGoal", function(e){
            e.preventDefault();
            $(this).parent("div").remove();
            numberOfHomeGoals--;
            reindex('homeTeamGoals');
        })
        
        //---------away team-----------//
                addAwayTeamGoalBtn.on("click",function(){
                    const regex = /ValueToReplace/gi;
                    let replacedFormPart = awayGoalFormPart.replace(regex, numberOfAwayGoals.toString());
                    replacedFormPart = $(replacedFormPart);
                    let select = replacedFormPart.find('select');
                    $.each(awayTeamPlayers, function(index, item) {
                          select.append(new Option(`${item.FirstName} ${item.LastName}`, item.Id));
                    });
                    console.log(replacedFormPart);
                    $('#awayTeamGoalsWrapper').append(replacedFormPart);
                    numberOfAwayGoals++;                    
                });
                
                awayTeamSelectElement.on('changed.bs.select', async function (e, clickedIndex, isSelected, previousValue){
                    $('#awayTeamGoalsWrapper').empty();
                    addAwayTeamGoalBtn.removeAttr('disabled');
                    const players = await getPlayers(e.target.value);
                    awayTeamPlayers = JSON.parse(players);
                });
                
                $('#awayTeamGoalsWrapper').on("click", ".removeAwayGoal", function(e){
                    e.preventDefault();
                    $(this).parent("div").remove();
                    numberOfAwayGoals--;
                    reindex('awayTeamGoals');
                })
        
        function reindex(id){
            let elements = $("div[data-id="+id+"]");
            const regexForName = /[^[\]]+(?=])/g;
            const regexForId = /_(.*?)_/g;
            for(let i=0; i< elements.length; i++){
                let element = $(elements[i]); 
                let inputs = element.find(':input').not('button');
                for (let j=0; j<inputs.length; j++){
                    inputs[j].id = inputs[j].id.replace(regexForId, `_${i.toString()}_`);
                    inputs[j].name = inputs[j].name.replace(regexForName, i.toString());
                }
            }
        }
        
    });
    
    </script>
    <script>
                $(document).ready(function() {
                  $('.summernote').summernote();
                });
    </script>
}