@model FootballNews.WebApp.Areas.Admin.ViewModels.Game.GameModel
@{
    ViewData["Title"] = "Add game";
    Layout = "_Layout";
}
<div class="container shadow">
    <div class="d-flex justify-content-between align-items-center my-3 card-header bg-deep-green text-white">
        <header class="">
            <h2>Add</h2>
        </header>
    </div>
    <form asp-area="Admin" asp-controller="Games" asp-action="Create" class="container border rounded box-shadow p-3" method="post">
        <h2 class="text-center">Mecz</h2>

        <div class="d-flex justify-content-between">
            <div class="justify-content-center">

                <div class="form-group">
                    <label asp-for="SelectedHomeTeam"></label>
                    <select asp-for="SelectedHomeTeam" id="homeTeamSelect" asp-items="@Model.Teams" class="selectpicker form-control" data-live-search="true">
                        <option selected="selected" disabled="disabled" value="-1">Select team...</option>
                    </select>
                    <span asp-validation-for="SelectedHomeTeam" class="text-danger"></span>
                </div>

                <div class="form-inline my-1 d-flex flex-column" id="homeTeamGoalsWrapper">
                    @* <div id="homeTeamGoals_0"> *@
                    @*     <select asp-for="HomeTeamGoals[0].Shooter" id="homeTeamShooter_0" class="selectpicker form-control mr-1" data-live-search="true" disabled="disabled"> *@
                    @*         <option selected="selected" disabled="disabled">Select player...</option> *@
                    @*     </select> *@
                    @*     <input type="number" class="form-control-sm" asp-for="HomeTeamGoals[0].Time" placeholder="minuty i sekundy" disabled="disabled"/> *@
                    @* </div> *@
                </div>
                <button class="btn btn-primary" id="homeTeamGoalsBtn" disabled="disabled">Dodaj gola</button>
            </div>
            <div class="">
                <div class="form-group">
                    <label asp-for="SelectedAwayTeam"></label>
                    <select asp-for="SelectedAwayTeam" id="awayTeamSelect" asp-items="@Model.Teams" class="selectpicker form-control" data-live-search="true">
                    </select>
                    <span asp-validation-for="SelectedAwayTeam" class="text-danger"></span>
                </div>
                <div class="form-inline my-1 d-flex flex-column" id="awayTeamGoals">
                    <select asp-for="AwayTeamGoals[0].Shooter" id="awayTeamGoalsSelect_0" class="selectpicker form-control" data-live-search="true"></select>
                    <input type="number" class="form-control-sm" asp-for="AwayTeamGoals[0].Time" placeholder="minuty i sekundy"/>
                </div>
                <a class="btn btn-primary">Dodaj gola</a>
            </div>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Date"></label>
            <input type="date" class="form-control-sm" asp-for="Date"/>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Report">Opis przebiegu spotkania</label>
            <textarea asp-for="Report" class="summernote"></textarea>
            <span asp-validation-for="Report" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-end p-2">
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_SelectPickerScriptPartial"/>
    <script>
    const goalFormPart = 
    `<div class="form-inline my-1" id="homeTeamGoals">
        <select name="HomeTeamGoals[ValueToReplace].Shooter" id="HomeTeamGoals_ValueToReplace__Shooter" class=" form-control mr-1" data-live-search="true">
            <option selected="selected" disabled="disabled">Select player...</option>
        </select>
        <input name="HomeTeamGoals[ValueToReplace].Time" id="HomeTeamGoals_ValueToReplace__Time" type="number" class="form-control-sm" placeholder="minuty i sekundy"/>
        <button class="btn btn-sm btn-outline-danger ml-1 removeHomeGoal"><i class="fas fa-minus-circle"></i></button>
    </div>
    `;
    
    
    $( document ).ready(function() {
        const homeTeamSelectElement = $('#homeTeamSelect');
        let numberOfHomeGoals = 0;
        const addHomeTeamGoalBtn = $('#homeTeamGoalsBtn');
                addHomeTeamGoalBtn.on("click",function(){
                    const homeTeamGoalsPart = $('#homeTeamGoals_0');
                    const regex = /ValueToReplace/gi;
                    let replacedFormPart = goalFormPart.replace(regex, numberOfHomeGoals.toString());
                    $('#homeTeamGoalsWrapper').append(replacedFormPart);
                    $('.selectpicker').selectpicker('refresh');
                    numberOfHomeGoals++;
                    
                });
        homeTeamSelectElement.on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue){
            console.log('Changed home team select.');
            addHomeTeamGoalBtn.removeAttr('disabled');
        });
        
        $('#homeTeamGoalsWrapper').on("click", ".removeHomeGoal", function(e){
            e.preventDefault();
            $(this).parent("div").remove();
            numberOfHomeGoals--;
            reindex('homeTeamGoalsWrapper', numberOfHomeGoals);
        })
        
        function reindex(wrapperId, numberOfGoals){
            // let elements = $("#homeTeamGoalsWrapper :input").not(':button, :hidden');
            let elements = $("#homeTeamGoals");
            let filteredElements = filterInputsWithEmptyId(elements);
            const regexForName = /[^[\]]+(?=])/g;
            const regexForId = /_(.*?)_/g;
            for(let i=0; i< numberOfGoals; i++){
                let element = filteredElements[i];                   
                element.id = element.id.replace(regexForId, `_${i.toString()}_`);
                element.name = element.name.replace(regexForName, i.toString());
                console.log('element', element);
            }
        }
        
        function reindexInputs(htmlCollection){}
        
        function filterInputsWithEmptyId(htmlCollection){
            console.log(htmlCollection);
            let filteredCollection =[];
            for(let i=0; i< htmlCollection.length; i++){
                if(htmlCollection[i].id){
                    filteredCollection.push(htmlCollection[i]);
                }
            }
            console.log(filteredCollection);
            return filteredCollection;
        }
    });
    
    </script>
    <script>
                $(document).ready(function() {
                  $('.summernote').summernote();
                });
    </script>
}