@model FootballNews.WebApp.Components.LeagueScoreTableModel

<div class="mt-4 p-1">
    <div class="list-group">
        <div class="list-group-item bg-deep-green d-flex justify-content-center align-items-center">
            <span class="font-weight-bold text-light">@Model.League</span>
        </div>
        <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i=0; i<Model.TeamScores.Count; i++)
                    {
                        <tr>
                            <th scope="row" class="text-center">@(i+1)</th>
                            <td class="text-center"><strong>@Model.TeamScores[i].Name</strong></td>
                            <td class="text-center">@Model.TeamScores[i].Points</td>
                        </tr>
                    }
        
                    </tbody>
                </table>
    </div>
</div>