@page
@model FootballNews.WebApp.Areas.Identity.Pages.Account.Manage.ManageRoles
@{
    ViewData["Title"] = "Roles";
    ViewData["ActivePage"] = ManageNavPages.ManageRoles;
}

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var userRole in Model.UserRoleModels)
            {
                <tr>
                    <th scope="row">@userRole.Username</th>
                    <td>@userRole.Email</td>
                    <td>@string.Join(",", userRole.Roles)</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <button type="button" class="btn btn-secondary">Edit</button>
                            <button type="button" class="btn btn-secondary">Delete</button>
                        </div>
                    </td>

                </tr>
            }

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}