html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.header-image { 
  height: 100%;
  width: 100%;
  /*background-image: url("https://images.unsplash.com/photo-1540753003857-32db1552eead?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80");*/
  background: rgb(2,46,85);
  background: linear-gradient(90deg, rgba(2,46,85,1) 0%, rgba(8,109,54,1) 33%, rgba(9,121,56,1) 75%, rgba(9,121,118,1) 98%);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.company-name {
  color: #DFFBE5;
  opacity: 1;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}

.company-name > h2 {
  margin: 0;
}

.bar-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* MODAL FADE LEFT */
.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

.modal.left .modal-dialog {
  position:absolute;
  top:0;
  left:0;
  margin: 0 0 0 50px;
}

.modal.left .modal-dialog.modal-sm {
  max-width:300px;
}

.modal.left .modal-content {
  min-height:100vh;
  border:0;
}

.bg-deep-green{
  background-color: rgb(14, 54, 27) !important;
}

.img-table{
  max-height: 300px;
  max-width: 300px;
}

.td-wrapped {
  word-wrap: break-word;
  min-width: 160px;
  max-width: 160px;
}

.menu-item {
  padding: 0.8rem;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu-item:hover {
  background-color: rgba(0,0,0,0.08);
  color: black;
  text-decoration: underline rgb(14, 54, 27) solid !important;
}

.news-list__item{

}

@media (max-width: 550px) {
  .navigation-bar {
    flex-direction: column !important;
    align-items: center;
  }
}

.tag-list{
  
}

.tag-list__item {
  color: black;
  padding: 0.5rem;
  margin-right: 0.3rem;
  background-color: rgba(0,0,0,0.05);;
  font-family: "Book Antiqua";
}

.tag-list__item:hover {
  text-decoration: underline rgb(14, 54, 27) solid !important;
  cursor: pointer;
  font-weight: 600;

}

.img-max-size {
  max-width: 100%;
  max-height: 100%;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post-title{
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;
}