@model FootballNews.WebApp.Areas.Admin.ViewModels.League.LeagueModel
@{
    ViewData["Title"] = "Create league";
    Layout = "_Layout";
}
<div class="container shadow">
    <div class="d-flex justify-content-between align-items-center my-3 card-header bg-deep-green text-white">
        <header class="">
            <h2>Create</h2>
        </header>
    </div>
    <form asp-area="Admin" asp-controller="Leagues" asp-action="Create" class="container" method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Input name of league"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-end p-2">
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}