@model FootballNews.WebApp.Areas.Admin.ViewModels.Manage.UpdateViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container shadow">
    <div class="d-flex justify-content-between align-items-center my-3 card-header bg-deep-green text-white" xmlns="http://www.w3.org/1999/html">
        <header class="">
            <h2>Edit</h2>
        </header>
    </div>
    <form asp-area="Admin" asp-controller="Manage" asp-action="Update" class="container" method="post">
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" placeholder="Input username"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Input email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="SelectedRoles">Select roles</label>
                    <select asp-for="SelectedRoles" asp-items="@Model.Roles" class="selectpicker form-control" multiple="multiple" data-actions-box="true" data-live-search="true">
                    </select>
                </div>
            </div>
        </div>

        <div class="form-row d-flex justify-content-end pb-2">
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_SelectPickerScriptPartial"/>

    <script>
        $(document).ready(function() {
          $('.summernote').summernote();
        });
        
        $('input[type="file"]').on('change',function(){
            const fileName = $(this).val();
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
}