@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="d-flex align-items-center border-top border-bottom p-2 shadow">
@*     @if (SignInManager.IsSignedIn(User)) *@
@*     { *@
@*         <partial name="_SideMenuPartial"/> *@
@*     } *@
    <div class="justify-content-center d-flex w-100 navigation-bar">
        <a class="menu-item" asp-area="" asp-controller="Home" asp-action="Index">Main page</a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="menu-item" asp-area="Admin" asp-controller="Articles" asp-action="Index">Articles</a>
            <a class="menu-item" asp-area="Admin" asp-controller="Tags" asp-action="Index">Tags</a>
            <a class="menu-item" asp-area="Admin" asp-controller="Leagues" asp-action="Index">Leagues</a>
            <a class="menu-item" asp-area="Admin" asp-controller="" asp-action="">Teams</a>
            <a class="menu-item" asp-area="Admin" asp-controller="" asp-action="">Games</a>
            <a class="menu-item" asp-area="Admin" asp-controller="Manage" asp-action="Index">Administration</a>
        }
        else
        {
            <a class="menu-item" href="#">MenuItem1</a>
            <a class="menu-item" href="#">MenuItem2</a>
            <a class="menu-item" href="#">MenuItem3</a>
            <a class="menu-item" href="#">MenuItem4</a>
            <a class="menu-item" href="#">MenuItem5</a>
        }
    </div>
</div>
<div></div>