@using FootballNews.WebApp.Extensions
@model IEnumerable<Article>
@{
    ViewData["Title"] = "Articles";
}

<div>
    <div class="d-flex">
        <article class="articles-section col-md-8">
            @foreach (var article in Model)
            {
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">Title @article.Title</h3>
                        <div class="mb-2 text-muted">@article.CreatedAt.ToShortDateString() by <a href="#">Jacob</a></div>
                        <p class="card-text mb-auto">@article.Content.LimitOnWordBoundary(130)</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>
                    </div>
                </div>
            }

        </article>
        <aside class="col-md-4">
            <div class="p-4">
                    <h4 class="font-italic">Tags</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">Tag name 1</a></li>
                        <li><a href="#">Tag name 2</a></li>
                        <li><a href="#">Tag name 3</a></li>
                        <li><a href="#">Tag name 4</a></li>
                        <li><a href="#">Tag name 5</a></li>
                        <li><a href="#">Tag name 6</a></li>
                    </ol>
                  </div>
        </aside>
    </div>
</div>